.wrapper {
  position: relative;
  z-index: 3;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto;
  align-items: center;
  justify-items: center;
  margin-top: -200px;
  margin-bottom: 40px;

  gap: 40px;

  @media (max-width: 768px) {
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr;

    padding: 0;

    margin-top: -80px;
    background-color: transparent;
    box-shadow: none;
    gap: 0px;
  }
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  @media (max-width: 768px) {
    width: 150px;
    height: 150px;
  }
}

.avatarWrapper {
  justify-self: end;

  @media (max-width: 768px) {
    justify-self: center;
  }
}

.info {
  justify-self: start;

  @media (max-width: 768px) {
    justify-self: center;
    text-align: center;
  }
}