/* Hide the browser's default checkbox */
.card__checker {
  display: none;
}

/* Hide the card if checkbox not checked */
.card__checker ~ .card {
  display: none;
}

.card__checker ~ label > .card__open-sign {
  display: none;
}

/* for accessible labels on desktop/mobile must use different tabindex */
.label_desktop {
  @media (--phoneDown) {
    display: none !important;
  }
}

.label_mobile {
  @media (--phoneUp) {
    display: none !important;
  }
}

/* Show the card if checkbox not checked */
.card__checker:checked ~ .card {
  display: block;
}

.card__checker:checked ~ label > .card__open-sign {
  display: inline;
}

.card__checker:checked ~ label > .card__close-sign {
  display: none;
}
