/* For different positions */
.container:nth-child(4n + 1) .card {
  @media (--phoneUp) {
    top: 170px;
    z-index: 3;
  }
}
.container:nth-child(4n + 2) .card {
  @media (--phoneUp) {
    top: calc(100vh - 500px);
    left: calc(100vw - 800px);
    z-index: 4;
  }
}
.container:nth-child(4n + 3) .card {
  @media (--phoneUp) {
    top: 100px;
    left: calc(100vw - 760px);
    z-index: 2;
  }
}
.container:nth-child(4n + 4) .card {
  @media (--phoneUp) {
    top: 110px;
    left: calc(50vw - 300px);
    z-index: 5;
  }
}
