.сover {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 45vh;
  overflow: hidden;
  background-color: #B2AFAB;
  background-position: center center;
  background-size: cover;

  @media screen and (max-width: 992px) {
    height: 40vh;
  }

  @media screen and (max-width: 600px) {
    height: 30vh;
  }

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.image {
  width: 100%;
}