.plus {
  float: right;

  width: 32px;
  height: 32px;

  @media (--phoneUp) {
    width: 25px;
    height: 25px;
  }
}

.plus:before {
  position: relative;
  top: 16px;

  display: block;

  width: 32px;
  height: 2px;

  content: '';
  background-color: var(--color-primary);

  @media (--phoneUp) {
    top: 20px;

    width: 25px;
    height: 1px;
  }
}
.plus:after {
  position: relative;
  bottom: 1px;
  left: 15px;

  display: block;

  width: 2px;
  height: 32px;

  content: '';
  background-color: var(--color-primary);

  @media (--phoneUp) {
    top: 7px;
    left: 12px;

    width: 1px;
    height: 25px;
  }
}
