.card {
  width: 100%;
  background: white;
  color: black;
  border-left: 2px solid var(--color-primary);
  border-right: 2px solid var(--color-primary);
  float: left;
  overflow-x: hidden;

  @media (--phoneUp) {
    border: 2px solid var(--color-primary);
    width: 691px;
    height: 464px;
    overflow-y: hidden;
    position: absolute;
  }
}

/* For different positions */
.container:nth-child(4n + 1) .card {
  @media (--phoneUp) {
    top: 170px;
    z-index: 3;
  }
}
.container:nth-child(4n + 2) .card {
  @media (--phoneUp) {
    top: calc(100vh - 500px);
    left: calc(100vw - 800px);
    z-index: 4;
  }
}
.container:nth-child(4n + 3) .card {
  @media (--phoneUp) {
    top: 100px;
    left: calc(100vw - 760px);
    z-index: 2;
  }
}
.container:nth-child(4n + 4) .card {
  @media (--phoneUp) {
    top: 100px;
    left: 50px;
    z-index: 5;
  }
}

.card_large {
  @media (--phoneUp) {
    width: 85vw;
    max-width: 1020px;
    height: calc(100vh - 158px);
  }
}

.container label {
  cursor: pointer;
  @media (--phoneDown) {
    border-top: 2px solid var(--color-primary);
    border-left: 2px solid var(--color-primary);
    border-right: 2px solid var(--color-primary);
  }
}

.card__body {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 84px;

  @media (--phoneUp) {
    height: 390px;
    overflow-y: scroll;
  }

  & > *:first-child {
    margin-block-start: 8px;
  }
}

.card__body_large {
  @media (--phoneUp) {
    height: calc(100vh - 232px);
  }
}

/* Hide the browser's default checkbox */
.card__checker {
  display: none;
}

/* Hide the card if checkbox not checked */
.card__checker ~ .card {
  display: none;
}

.card__checker ~ label > .card__open-sign {
  display: none;
}

/* Show the card if checkbox not checked */
.card__checker:checked ~ .card {
  display: block;
}

.card__checker:checked ~ label > .card__open-sign {
  display: inline;
}

.card__checker:checked ~ label > .card__close-sign {
  display: none;
}

.card__header {
  display: flex;
  justify-content: space-between;
  height: 74px;
  position: sticky;

  @media (--phoneDown) {
    display: none;
  }
}

.card__drug {
  width: 100%;
  margin: 0;
  padding: 24px;
  cursor: grab;
}

.card__close {
  width: 58px;
  margin: 8px;
  padding: 0px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.container:last-child .card__checker ~ label {
  @media (--phoneDown) {
    border-bottom: 2px solid var(--color-primary);
  }
}

.container:last-child .card__checker:checked ~ label {
  border-bottom: none;
}

.container:last-child .card {
  border-bottom: 2px solid var(--color-primary);
}
