.card {
  width: 100%;
  background: white;
  color: black;
  border: 2px solid var(--color-primary);

  @media (--phoneUp) {
    width: 669px;
    height: 464px;
    overflow-y: hidden;
    position: absolute;
  }
}

.card_large {
  @media (--phoneUp) {
    width: 85vw;
    height: calc(100vh - 158px);
  }
}

.card__body {
  padding-left: 24px;
  padding-right: 24px;

  @media (--phoneUp) {
    height: 390px;
    overflow-y: scroll;
  }
}

.card__body_large {
  @media (--phoneUp) {
    height: calc(100vh - 232px);
  }
}

/* Hide the browser's default checkbox */
.card__checker {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Hide the card if checkbox not checked */
.card__checker ~ .card {
  display: none;
}

.card__checker ~ label > .card__open-sign {
  display: none;
}

/* Show the card if checkbox not checked */
.card__checker:checked ~ .card {
  display: block;
}

.card__checker:checked ~ label > .card__open-sign {
  display: inline;
}

.card__checker:checked ~ label > .card__close-sign {
  display: none;
}

.card__header {
  display: flex;
  justify-content: space-between;
  height: 74px;
  position: sticky;

  @media (--phoneDown) {
    display: none;
  }
}

.card__drug {
  width: 100%;
  margin: 24px;
  text-transform: capitalize;
}

.card__close {
  width: 58px;
  margin: 8px;
  padding: 0px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
}

// Workaround for different positions

.container:nth-child(4n + 1) .card {
  @media (--phoneUp) {
    top: 150px;
    left: 150px;
    z-index: 1;
  }
}
.container:nth-child(4n + 2) .card {
  @media (--phoneUp) {
    top: 250px;
    left: 250px;
    z-index: 2;
  }
}
.container:nth-child(4n + 3) .card {
  @media (--phoneUp) {
    top: 350px;
    left: 350px;
    z-index: 3;
  }
}
.container:nth-child(4n + 4) .card {
  @media (--phoneUp) {
    top: 450px;
    left: 450px;
    z-index: 4;
  }
}
