.plus {
  float: right;
  width: 25px;
  height: 25px;

  @media (--phoneUp) {
    margin-top: 3px;
  }
}

.plus:before {
  content: '';
  width: 25px;
  height: 1px;
  border-top: 1px solid var(--color-primary);
  display: block;
  margin-top: 15px;
  margin-left: 3px;
}
.plus:after {
  content: '';
  height: 25px;
  width: 1px;
  border-right: 1px solid var(--color-primary);
  display: block;
  bottom: 13px;
  position: relative;
  margin-left: 14px;
}
