.SocialButton {
  width: 40px;
  height: 40px;
  padding: 8px;
  margin: 5px;
  font-size: 12px;
  border-width: 2px;
  border-radius: 50px;

  & > i {
    padding: 2px 0px;
    font-size: 16px;
  }
}

.specific {
  color: var(--color);
  border-color: var(--color);

  &:hover, &:focus, &:active, &.active {
    color: rgba(255, 255, 255, 0.7);
    background-color: var(--color);
    border-color: var(--color);
  }
}

.telegram {
  --color: #3bb0eb;
  @inherit: .specific;
}

.github {
  --color: #333;
  @inherit: .specific;
}

.linkedin {
  --color: #0976b4;
  @inherit: .specific;
}

.instagram {
  --color: #e94a62;
  @inherit: .specific;
}

.twitter {
  --color: #55acee;
  @inherit: .specific;
}