doctype html

html(lang="ru")
  head
    title Игорь Камышев
    link(rel='stylesheet', href='./styles.css')

  body
    p Новый сайт

    input(type="checkbox" name="about" class="about-check" checked id="about-check")
    p(class="about") lol

    a(class="preload" href="./articles.pug") articles

    script(src='./code.js')
