/* fonts */
@font-face {
  font-family: 'Steinbeck';
  src: url('./fonts/steinbeck-regular/steinbeck-regular.woff') format('woff'),
    url('./fonts/steinbeck-regular/steinbeck-regular.otf') format('otf');
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Steinbeck';
  src: url('./fonts/steinbeck-italic/steinbeck-italic.woff') format('woff'),
    url('./fonts/steinbeck-italic/steinbeck-italic.otf') format('otf');
  font-display: block;
  font-weight: normal;
  font-style: italic;
}

@import './layout/components/card.css';
@import './layout/components/plus.css';
@import './layout/components/minus.css';
@import './layout/components/cross.css';
@import './layout/page.css';

* {
  box-sizing: border-box;
}

body {
  --color-primary: #2613ff;

  font-family: 'Steinbeck';
  margin: 0;
}

ul {
  list-style: square outside none;
  padding-left: 18px;
}

li {
  font-size: 18px;
  line-height: 20px;
}

p {
  font-size: 18px;
  line-height: 20px;

  margin-block-start: 12px;
  margin-block-end: 12px;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

h4,
h5,
h6 {
  font-size: 22px;
  line-height: 24px;
  font-weight: normal;
}

h1,
h2,
h3 {
  font-size: 26px;
  line-height: 29px;
  font-weight: normal;
}

h1 > blockquote,
h2 > blockquote,
h3 > blockquote,
h4 > blockquote,
h5 > blockquote,
h6 > blockquote {
  margin-left: 12px;
}

blockquote {
  font-size: 18px;

  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  border: 1px solid #000000;
  border-radius: 39px;
  padding: 7px 10px 3px 10px;

  display: inline;
}
