/* fonts */
@font-face {
  font-family: 'Steinbeck';
  src: url('./fonts/SteinbeckRegular/Steinbeck Regular.woff') format('woff'),
    url('./fonts/SteinbeckRegular/Steinbeck Regular.otf') format('otf');
  font-display: block;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Steinbeck';
  src: url('./fonts/SteinbeckItalic/Steinbeck Italic.woff') format('woff'),
    url('./fonts/SteinbeckItalic/Steinbeck Italic.otf') format('otf');
  font-display: block;
  font-weight: normal;
  font-style: italic;
}

/* custom media queries */
@custom-media --phoneDown (max-width: 819px);
@custom-media --phoneUp (min-width: 820px);

@import './layout/components/card.css';
@import './layout/components/plus.css';
@import './layout/components/minus.css';
@import './layout/components/cross.css';
@import './layout/page.css';

* {
  box-sizing: border-box;
}

body {
  --color-primary: #2613ff;

  font-family: 'Steinbeck';
  margin: 0;
}

p {
  font-size: 18px;
  line-height: 20px;
}

a {
  text-decoration: none;
  color: var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 26px;
  line-height: 29px;
  font-weight: normal;
}

blockquote {
  font-size: 18px;
}
