include ./components/card/card.pug

mixin page(isArticles=false)
  doctype html

  html(lang="ru")
    head
      title Игорь Камышев

      link(rel='stylesheet', href='../styles.css')

      script(src= '../polyfills.js')
      script(src='../interactive/index.js' defer)

      meta(name="viewport", content="width=device-width, initial-scale=1")
      meta(name="description" content="Техлид и разрабочик веб-приложений. Контакты и проекты.")


    body
      main(class="app")
        +card("about", "Обо мне", false, true)
          include ./blocks/about.pug

        +card("projects", "Проекты", !isArticles)
          include ./blocks/projects.pug

        +card("experience", "Опыт")
          include ./blocks/experience.pug

        +card("articles", "Статьи", isArticles, false, isArticles, true)
          include ./blocks/articles.pug
