include ./components/card.pug

mixin page(isArticles=false)
  doctype html

  html(lang="ru")
    head
      title Игорь Камышев
      link(rel='stylesheet', href='../styles.css')

    body
      p Новый сайт

      div
        +card("about")
          p something about me

        +card("projects")
          p something about projects

        +card("experience")
          p freelance, qeep, breadhead

        +card("articles", isArticles, true)
          p one article =)

      a(class="preload" href="../pages/articles.pug") articles

      script(src='../index.js')
