.app {
  @media (--phoneUp) {
    background-color: white;
  }

  @media (--phoneDown) {
    & label {
      background-color: white;
      min-width: 26px;
      display: block;
      font-size: 26px;
      padding: 24px;
      float: left;
      width: 100%;

      display: grid;
      grid-template-columns: 1fr 32px;
      align-items: center;

      & > span:first-child {
        height: 21px;
      }
    }
  }

  @media (--phoneUp) {
    position: relative;
    float: left;
    border: 2px solid var(--color-primary);
    margin: 24px;
    padding: 20px 24px;
    height: 80px;

    & > * {
      float: left;

      &:not(:last-child) {
        margin-right: 24px;
      }
    }

    & label {
      font-size: 40px;
      color: var(--color-primary);

      & > span:first-child {
        text-transform: lowercase;
      }
    }
  }

  & label {
    color: var(--color-primary);
  }
}

.about {
  @media (--phoneUp) {
    padding-bottom: 0;
  }
}

.about > p {
  font-size: 26px;
  line-height: 29px;
}

.experience {
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    margin-block-start: 40px;
    margin-block-end: 8px;
  }

  & > h3 + p {
    font-size: 26px;
    line-height: 29px;
  }
}

.projects {
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    margin-block-start: 36px;
    margin-block-end: 12px;
  }
}

.articles {
  & > * {
    max-width: 650px;
  }

  & > h1,
  & > h2,
  & > h3 {
    margin-block-start: 80px;
    margin-block-end: 20px;
  }

  & > h4,
  & > h5,
  & > h6 {
    margin-block-start: 24px;
    margin-block-end: 12px;
  }
}

.link-line {
  margin-block-start: 24px;
  margin-block-end: 24px;

  & > a:not(:last-child) {
    margin-right: 24px;
  }
}

.single-link {
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0px;

  & > a {
    border: 1px solid #2613ff;
    border-radius: 42px;
    padding: 7px 10px 3px 10px;
    font-size: 18px;
  }

  & > a:hover {
    color: white;
    background-color: var(--color-primary);
  }
}

.highlight {
  @media (--phoneUp) {
    box-shadow: 0px 0px 50px rgba(255, 150, 150, 0.85);
  }
}
