include ./components/card.pug

mixin page(isArticles=false)
  doctype html

  html(lang="ru")
    head
      title Игорь Камышев

      link(rel='stylesheet', href='../styles.css')
      script(src='../index.js' async)

      meta(name="viewport", content="width=device-width, initial-scale=1")
      meta(name="description" content="Техлид и разрабочик веб-приложений. Контакты и проекты.")


    body
      main(class="app")
        +card("about", "обо мне", false, true)
          include ./blocks/about.pug

        +card("projects", "проекты", !isArticles)
          include ./blocks/projects.pug

        +card("experience", "опыт")
          include ./blocks/experience.pug

        +card("articles", "статьи", isArticles, false, isArticles, true)
          include ./blocks/articles.pug
