include ./components/card.pug

mixin page(isArticles=false)
  doctype html

  html(lang="ru")
    head
      title Игорь Камышев
      link(rel='stylesheet', href='../styles.css')

    body
      p Новый сайт

      div
        +card("about")
          include ./blocks/about.pug

        +card("projects")
          include ./blocks/projects.pug

        +card("experience")
          include ./blocks/experience.pug

        +card("articles", isArticles, true)
          include ./blocks/articles.pug

      script(src='../index.js')
